.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.monster {
  font-size: 100px;
}

.info {
  width: 200px;
  height: 80px;
  border: 3px solid #393f4c;
  text-align: center;
}

.name {
  padding: 10px;
  color: #393f4c;
  font-weight: bolder;
}

.hp {
  padding-bottom: 10px;
  font-weight: bold;
}
